.btn_modal{
    padding: 10px 20px;
    background-color: #735184;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    border:#735184 ;
    
  font-family: "Montserrat Alternates", sans-serif;
}
